<!DOCTYPE html>
<html>
<head><title>{{ group.name }}</title></head>
<body>
    <h1>{{ group.name }}</h1>

    <h3>Members:</h3>
    <ul>
        {% for member in members %}
            <li>{{ member.username }}</li>
        {% endfor %}
    </ul>
    <h3>Balances:</h3>
<ul>
    {% for b in balances %}
        {% if b.amount > 0 %}
            <li>{{ b.username }} is owed ₹{{ b.amount }}</li>
        {% elif b.amount < 0 %}
            <li>{{ b.username }} owes ₹{{ -b.amount }}</li>
        {% else %}
            <li>{{ b.username }} is settled up</li>
        {% endif %}
    {% endfor %}
</ul>

    <h3>Add a Member</h3>
    <form method="POST" action="/group/{{ group.id }}/add-member">
        <input type="text" name="username" placeholder="Enter username" required>
        <button type="submit">Add</button>
    </form>
    <p><a href="/group/{{ group.id }}/add-expense">+ Add Expense</a></p>
    <p><a href="/dashboard">Back to Dashboard</a></p>
</body>
</html>